<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/oie_jpg.png" class="img-fluid" id="profilepic" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">FEDERICO ROBLEDO</p>
    <p>Jr Full Stack Developer</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h1 id="aboutme">Acerca de mi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad, eos
      illo voluptas optio ratione officia voluptatum eveniet a dolorem itaque
      consectetur rem nobis odio eius soluta nostrum. Accusantium, obcaecati.
    </p>
  </div>
</div>
