<div class="row">
  <h1 class="skills">Hard & Soft SKills</h1>

  <div class="col -sm-4 col -md-4 col -lg-4" id="html">
    <div class="htmldiv">
      <img
        src="../../../assets/PngItem_4640079.png"
        class="img-fluid htmlimg"
      />
    </div>
    <angular-bee-progress-bar
      [totalNumberValue]="100"
      [numberIndex]="90"
      [textDisplay]="true"
      [rounded]="true"
      [border]="false"
      [color]="'linear-gradient(90deg, Plum, Indigo'"
    ></angular-bee-progress-bar>
  </div>

  <div class="col -sm-4 col -md-4 col -lg-4" id="css">
    <div class="cssdiv">
      <img
        src="../../../assets/css-3-1-logo-black-and-white.png"
        class="img-fluid cssimg"
      />
    </div>
    <angular-bee-progress-bar
      [border]="true"
      [totalNumberValue]="100"
      [numberIndex]="90"
      [textDisplay]="true"
      [border]="false"
      [color]="'linear-gradient(90deg, Plum, Indigo'"
    ></angular-bee-progress-bar>
  </div>

  <div class="col -sm-4 col -md-4 col -lg-4" id="jscript">
    <div class="jsdiv">
      <img src="../../../assets/jslogoresized.png" class="img-fluid jsimg" />
    </div>
    <angular-bee-progress-bar
      [border]="true"
      [totalNumberValue]="100"
      [numberIndex]="90"
      [textDisplay]="true"
      [border]="false"
      [color]="'linear-gradient(90deg, Plum, Indigo'"
    ></angular-bee-progress-bar>
  </div>
</div>
