<div class="row">
  <h1 class="projectos">Projectos</h1>
  <div class="contenedor">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
      <h2>To do List</h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7 proyecto1">
        <img src="../../../assets/todolist.png" class="img-fluid" id="todo" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
      <h2>JavaScript Clock</h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7 proyecto2">
        <img
          src="../../../assets/jsclock2.png"
          class="img-fluid"
          id="jsclock"
        />
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
        <h2>Codepen Portfolio</h2>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-7 proyecto3">
          <img
            src="../../../assets/portfolio.png"
            class="img-fluid"
            id="portfolio"
          />
        </div>
      </div>
    </div>
  </div>
</div>
