<div class="row">
  <h1 class="educ">Educacion</h1>
  <div class="cursos">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Argentina Programa 2 etapa</h1>
          <h3>(2022)</h3>
        </li>
        <li>
          <h1>Argentina Programa 1 etapa</h1>
          <h3>(2021)</h3>
        </li>
        <li>
          <h1>FreeCodeCamp Responsive Web Design</h1>
          <h3>(2022)</h3>
        </li>
        <li>
          <h1>Universidad Nacional de Mar del Plata</h1>
          <h3>(2007-2014)</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
