*{
    background-color: black;
    color: white;
    
}
h1{
    display: inline;
    

   
}
.educ {
    margin-top: 5rem;
    font-size: 2rem;
}

li {
    display: inline-block;
    margin: 2rem;
    
}
.unmdplogo {
    width: 10rem;
    float: left;

}
.unmdp {
    margin: auto;
   
}
#unmdpimg {

    height: 8rem;
}
.freecodeimg {
    float: left;
    width: 10rem;

}
.aplogo {
    width: 10rem;
    float: left;
}
.titulo {
   
    width: 100px;
    align-items: center;
}

