<div class="row">
  <h1 class="educ">Educacion</h1>
  <div class="cursos">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <img src="../../../assets/APLogo.png" class="img-fluid aplogo" />
          <div class="titulo"><h1>Argentina Programa 2 etapa</h1></div>
        </li>
        <li>
          <img src="../../../assets/APLogo.png" class="img-fluid aplogo" />
          <div class="titulo"><h1>Argentina Programa 1 etapa</h1></div>
        </li>
        <li>
          <div class="col-sm-12" id="freecode">
            <img
              src="../../../assets/303-3036579_free-code-camp-logo-transparent.png"
              class="img-fluid freecodeimg"
            />
          </div>
          <div class="titulo"><h1>FreeCodeCamp Responsive Web Design</h1></div>
        </li>
        <li>
          <div class="col-sm-12" id="unmdpimg">
            <img
              src="../../../assets/oie_2912149jP8doCPi.png"
              class="img-fluid unmdplogo"
            />
            <div class="titulo">
              <h1 class="unmdp">Universidad Nacional de Mar del Plata</h1>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
